@import "variables";
.test {
  font-size: 1rem;
  background-color: red;
  font-weight: 300;
}
h1 {
  color: $orange-color;
}

.card-course-item {
  margin: 16px;
}

.card-course-item {
  height: 200px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
  font-size: 20px;
}

.checkbox-select-all-options {
  width: 160px !important;
}
