<div class="search-form mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      {{! <input type="text" name="fullname" />
      <input type="text" name="age" /> }}
      <input
        type="text"
        class="form-control"
        id="search-input"
        aria-describedby="emailHelp"
        placeholder="nhâp từ khóa"
        name="q"
      />
      <div class="form-group">
        <select name="gender" class="form-control" id="gender-input">
          <option value="">--chon gioi tinh--</option>
          <option value="male">Nam</option>
          <option value="female">Nu</option>
        </select>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">tìm kiếm</button>
  </form>
</div>